venv/
__pycache__/
*.pyc
.env
data/test_videos/
*.pt
*.trt
*.task
backend/models/
postgres_data/
mongo_data/
frontend/node_modules/
frontend/dist/
.pytest_cache/
spark_checkpoint/
runs/
logs/
results/
*.log
yolov8n.pt
yolov8n-pose.pt